@model IEnumerable<DevChallenge.Models.Genre>
@{
	ViewBag.Title = "Index";
}
<h2 style="margin-bottom: 20px;">
	Genres ( @Model.Count() )</h2>
<ul class="wrapper filterTarget">
	@foreach (var g in Model)
 {
		<li class="box">@Html.ActionLink(g.Name, "Browse", new { id = g.Name }) </li>
 }
</ul>
