@{
	ViewBag.Title = "Movies ";
}
<h2>
	Home
</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Recent Releses</a> </li>
		<li><a href="#tabs-2">Popular Titles</a> </li>
		<li><a href="#tabs-3">Popular Actors</a> </li>
	</ul>
	<div id="tabs-1">
		@Html.ActionLink("More", "Index", "Movies")
	</div>
	<div id="tabs-2">
	</div>
	<div id="tabs-3">
	</div>
</div>
<script>
	$(function () {
		$("#tabs").tabs({ selected: 1 });

		$('#tabs-1').ready(function () {
			// top 5 recent
			$.ajax({
				type: "POST",
				url: "/Home/Latest/5",
				data: null,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (msg) {

					var ul = $('<ul>').appendTo('#tabs-1');
					ul.attr('class', 'wrapper filterTarget')
					var json = { items: msg };
					$(json.items).each(function (index, item) {
						ul.append(
								   $(document.createElement('li'))
								   .text(item.Name)
								   .attr('class', 'box')
								   .css({ 'margin-left': '5px', 'color': 'White' })
									   .click(function () {
									   	window.location.href = "/Movies/Details/" + item.Id;
									   })
								   );
					});

				},
				error: function (msg) {
				}
			});
		});
		$('#tabs-2').ready(function () {
			// top popular
			var ul = $('<p>').appendTo('#tabs-2');
			ul.append('TODO : impement a controller.');
		});
		$('#tabs-3').ready(function () {
			// top famous actors
			var ul = $('<p>').appendTo('#tabs-3');
			ul.append('TODO : impement a controller..');
		});
	});	
</script>
